.d-inline-flex:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 3px 2px gray;
    padding: 20px;
    border-radius: 3px;
    
}
.d-inline-flex{
    padding: 20px;
    
}
a:hover{
text-decoration: none;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    width: 90%;
    
}
#logo{
    background-color: ivory;
    color:#404040;
    box-shadow: 0 0 1px 1px black;
}
#logo:hover{
    background-color: #666666;
    color:ivory;
    box-shadow: 0 0 0px 0px white;
}
.display-5{
    /* color: honeydew; */
    color:rgb(82, 80, 80);
    text-align: left;
    margin-left: 20px;
    margin-top: 5x;
    
    /* text-shadow: 0px 0px 7px rgb(93, 106, 119); */
}
/* rgb(241, 243, 245) */

#lg{
    color:rgb(82, 80, 80);
    margin:10px;
    text-shadow: none;
}
header{
    box-shadow: 0px 3px 3px #27272780;
    padding: 10px;
}
#a{
    color: rgb(82, 80, 80);
}
#b{
    background-color: #4d4d4d;
    color:ivory;
}
#b:hover{
    background-color: #636262;
}